body {
	background-color: #593C8F;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: .75em;
  }
}

img {
	width: 50%;
	align-self: center;
    cursor: pointer;
}

#interface {
	background-color: #e4daf7;
	padding: .5em;
	width: 65%;
	display: flex;
	justify-content: center;
	flex-direction: column;
    box-shadow: 0 14px 28px
    rgba(0,0,0,0.25), 0 10px 10px
    rgba(0,0,0,0.22);
}

input {
	font-size: 1em;
	padding: 1em;
	margin: .5em;
    border-style: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#navbar {
	display: flex;
	justify-content: center;
}

#navbar * {
	margin: .5em;
	width: 20%;
}

ul {
	list-style-type: none;
	padding: 0;
}

.offline {
	background-color: #d97882;
}

.live {
	background-color: #96cff9;
}

span {
	color: black;
	text-align: center;
	padding: 1em;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#allSort {
	background-color: #aff7ad;
}

#liveSort {
	background-color: #96cff9;
}

#offlineSort {
	background-color: #d97882;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: .5em;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

li img {
	width: 5em;
	height: 5em;
	margin: 1em;
}

li:hover, span:hover {
	cursor: pointer;
    box-shadow: 0 14px 28px
    rgba(0,0,0,0.25), 0 10px 10px
    rgba(0,0,0,0.22);
}

input:hover, input:focus {
    box-shadow: 0 14px 28px
    rgba(0,0,0,0.25), 0 10px 10px
    rgba(0,0,0,0.22);
}

